<a href="https://colab.research.google.com/github/sumithdcosta/Python/blob/master/4.%20Datatypes/2.%20List.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

4. Datatypes/2. List.ipynb

**List**

Python offers a range of compound datatypes often referred to as sequences. List is one of the most frequently used and very versatile datatype used in Python.

**How to create a list?**

In Python programming, a list is created by placing all the items (elements) inside a square bracket [ ], separated by commas.

It can have any number of items and they may be of different types (integer, float, string etc.).

In [0]:
# empty list
my_list = []

# list of integers
my_list = [1, 2, 3]

# list with mixed datatypes
my_list = [1, "Hello", 3.4]

Also, a list can even have another list as an item. This is called nested list.

In [0]:
# nested list
my_list = ["mouse", [8, 4, 6], ['a']]

**How to access elements from a list?**

There are various ways in which we can access the elements of a list.

**List Index**

We can use the index operator [] to access an item in a list. Index starts from 0. So, a list having 5 elements will have index from 0 to 4.

Trying to access an element other that this will raise an **IndexError**. The index must be an integer. We can't use float or other types, this will result into **TypeError**.

Nested list are accessed using nested indexing.

In [3]:
my_list = ['p','r','o','b','e']
# Output: p
print(my_list[0])

# Output: o
print(my_list[2])

# Output: e
print(my_list[4])

# Error! Only integer can be used for indexing
# my_list[4.0]

# Nested List
n_list = ["Happy", [2,0,1,5]]

# Nested indexing

# Output: a
print(n_list[0][1])    

# Output: 5
print(n_list[1][3])

p
o
e
a
5

**Negative indexing**

Python allows negative indexing for its sequences. The index of -1 refers to the last item, -2 to the second last item and so on.

In [4]:
my_list = ['p','r','o','b','e']

# Output: e
print(my_list[-1])

# Output: p
print(my_list[-5])

e
p

**How to slice lists in Python?**

We can access a range of items in a list by using the slicing operator (colon).

In [5]:
my_list = ['p','r','o','g','r','a','m','i','z']
# elements 3rd to 5th
print(my_list[2:5])

# elements beginning to 4th
print(my_list[:-5])

# elements 6th to end
print(my_list[5:])

# elements beginning to end
print(my_list[:])

['o', 'g', 'r']
['p', 'r', 'o', 'g']
['a', 'm', 'i', 'z']
['p', 'r', 'o', 'g', 'r', 'a', 'm', 'i', 'z']

Slicing can be best visualized by considering the index to be between the elements as shown below. So if we want to access a range, we need two index that will slice that portion from the list.

![alt text](https://drive.google.com/uc?export=view&id=1Q35k2nEkHIXd_CunPooAnnggJBvsJF8e)


**How to change or add elements to a list?**

List are mutable, meaning, their elements can be changed unlike string or tuple.

We can use assignment operator (=) to change an item or a range of items.

In [6]:
# mistake values
odd = [2, 4, 6, 8]

# change the 1st item    
odd[0] = 1            

# Output: [1, 4, 6, 8]
print(odd)

# change 2nd to 4th items
odd[1:4] = [3, 5, 7]  

# Output: [1, 3, 5, 7]
print(odd)

[1, 4, 6, 8]
[1, 3, 5, 7]

We can add one item to a list using **append**() method or add several items using **extend**() method.

In [7]:
odd = [1, 3, 5]

odd.append(7)

# Output: [1, 3, 5, 7]
print(odd)

odd.extend([9, 11, 13])

# Output: [1, 3, 5, 7, 9, 11, 13]
print(odd)

[1, 3, 5, 7]
[1, 3, 5, 7, 9, 11, 13]

We can also use **+** operator to combine two lists. This is also called **concatenation**.

The * operator repeats a list for the given number of times.

In [8]:
odd = [1, 3, 5]

# Output: [1, 3, 5, 9, 7, 5]
print(odd + [9, 7, 5])

#Output: ["re", "re", "re"]
print(["re"] * 3)

[1, 3, 5, 9, 7, 5]
['re', 're', 're']

Furthermore, we can insert one item at a desired location by using the method **insert**() or insert multiple items by squeezing it into an empty slice of a list.

In [9]:
odd = [1, 9]
odd.insert(1,3)

# Output: [1, 3, 9] 
print(odd)

odd[2:2] = [5, 7]

# Output: [1, 3, 5, 7, 9]
print(odd)

[1, 3, 9]
[1, 3, 5, 7, 9]

**How to delete or remove elements from a list?**

We can delete one or more items from a list using the keyword del. It can even delete the list entirely.

In [11]:
my_list = ['p','r','o','b','l','e','m']

# delete one item
del my_list[2]

# Output: ['p', 'r', 'b', 'l', 'e', 'm']     
print(my_list)

# delete multiple items
del my_list[1:5]  

# Output: ['p', 'm']
print(my_list)

# delete entire list
del my_list

['p', 'r', 'b', 'l', 'e', 'm']
['p', 'm']

In [12]:
# Error: List not defined
print(my_list)

NameError: ignored

We can use **remove**() method to remove the given item or **pop**() method to remove an item at the given index.

The **pop**() method removes and returns the last item if index is not provided. This helps us implement lists as stacks (first in, last out data structure).

We can also use the clear() method to empty a list.

In [13]:
my_list = ['p','r','o','b','l','e','m']
my_list.remove('p')

# Output: ['r', 'o', 'b', 'l', 'e', 'm']
print(my_list)

# Output: 'o'
print(my_list.pop(1))

# Output: ['r', 'b', 'l', 'e', 'm']
print(my_list)

# Output: 'm'
print(my_list.pop())

# Output: ['r', 'b', 'l', 'e']
print(my_list)

my_list.clear()

# Output: []
print(my_list)

['r', 'o', 'b', 'l', 'e', 'm']
o
['r', 'b', 'l', 'e', 'm']
m
['r', 'b', 'l', 'e']
[]

Finally, we can also delete items in a list by assigning an empty list to a slice of elements.

In [14]:
my_list = ['p','r','o','b','l','e','m']
my_list[2:3] = []
my_list

['p', 'r', 'b', 'l', 'e', 'm']

In [15]:
my_list[2:5] = []
my_list

['p', 'r', 'm']

**Python List Methods**

Methods that are available with list object in Python programming are tabulated below.

They are accessed as list.method(). Some of the methods have already been used above.

![alt text](https://drive.google.com/uc?export=view&id=1ZeYpLxSoTNyhOTIqAZ4ozGqZXKm8SYBx)

Some examples of Python list methods:

In [16]:
my_list = [3, 8, 1, 6, 0, 8, 4]

# Output: 1
print(my_list.index(8))

# Output: 2
print(my_list.count(8))

my_list.sort()

# Output: [0, 1, 3, 4, 6, 8, 8]
print(my_list)

my_list.reverse()

# Output: [8, 8, 6, 4, 3, 1, 0]
print(my_list)

1
2
[0, 1, 3, 4, 6, 8, 8]
[8, 8, 6, 4, 3, 1, 0]

**List Comprehension: Elegant way to create new List**

List comprehension is an elegant and concise way to create new list from an existing list in Python.

List comprehension consists of an expression followed by for statement inside square brackets.

Here is an example to make a list with each item being increasing power of 2.

In [17]:
pow2 = [2 ** x for x in range(10)]

# Output: [1, 2, 4, 8, 16, 32, 64, 128, 256, 512]
print(pow2)

[1, 2, 4, 8, 16, 32, 64, 128, 256, 512]

This code is equivalent to

In [19]:
pow2 = []
for x in range(10):
   pow2.append(2 ** x)
print(pow2)

[1, 2, 4, 8, 16, 32, 64, 128, 256, 512]

A list comprehension can optionally contain more for or if statements. An optional if statement can filter out items for the new list. Here are some examples.

In [20]:
pow2 = [2 ** x for x in range(10) if x > 5]
pow2

[64, 128, 256, 512]

In [21]:
odd = [x for x in range(20) if x % 2 == 1]
odd

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [22]:
[x+y for x in ['Python ','C '] for y in ['Language','Programming']]

['Python Language', 'Python Programming', 'C Language', 'C Programming']

**Other List Operations in Python**

**List Membership Test**

We can test if an item exists in a list or not, using the keyword in.

In [23]:
my_list = ['p','r','o','b','l','e','m']

# Output: True
print('p' in my_list)

# Output: False
print('a' in my_list)

# Output: True
print('c' not in my_list)

True
False
True

**Iterating Through a List**

Using a for loop we can iterate though each item in a list.

In [24]:
for fruit in ['apple','banana','mango']:
    print("I like",fruit)

I like apple
I like banana
I like mango

**Built-in Functions with List**

Built-in functions like all(), any(), enumerate(), len(), max(), min(), list(), sorted() etc. are commonly used with list to perform different tasks.

![alt text](https://drive.google.com/uc?export=view&id=1uJJAaSD9N3-fXfwuuAFiPOox379VTKK_)