<a href="https://colab.research.google.com/github/sumithdcosta/Python/blob/master/4.%20Datatypes/4.%20Strings.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

4. Datatypes/4. Strings.ipynb

**What is String in Python?**

A string is a sequence of characters.

A character is simply a symbol. For example, the English language has 26 characters.

Computers do not deal with characters, they deal with numbers (binary). Even though you may see characters on your screen, internally it is stored and manipulated as a combination of 0's and 1's.

This conversion of character to a number is called encoding, and the reverse process is decoding. ASCII and Unicode are some of the popular encoding used.

In Python, string is a sequence of Unicode character. Unicode was introduced to include every character in all languages and bring uniformity in encoding.

**How to create a string in Python?**

Strings can be created by enclosing characters inside a single quote or double quotes. Even triple quotes can be used in Python but generally used to represent multiline strings and docstrings.

In [0]:
# all of the following are equivalent
my_string = 'Hello'
print(my_string)

my_string = "Hello"
print(my_string)

my_string = '''Hello'''
print(my_string)

# triple quotes string can extend multiple lines
my_string = """Hello, welcome to
           the world of Python"""
print(my_string)

Hello
Hello
Hello
Hello, welcome to
           the world of Python

**How to access characters in a string?**

We can access individual characters using indexing and a range of characters using slicing. Index starts from 0. Trying to access a character out of index range will raise an IndexError. The index must be an integer. We can't use float or other types, this will result into TypeError.

Python allows negative indexing for its sequences.

The index of -1 refers to the last item, -2 to the second last item and so on. We can access a range of items in a string by using the slicing operator (colon).

In [0]:
str = 'programiz'
print('str = ', str)

#first character
print('str[0] = ', str[0])

#last character
print('str[-1] = ', str[-1])

#slicing 2nd to 5th character
print('str[1:5] = ', str[1:5])

#slicing 6th to 2nd last character
print('str[5:-2] = ', str[5:-2])

str =  programiz
str[0] =  p
str[-1] =  z
str[1:5] =  rogr
str[5:-2] =  am

If we try to access index out of the range or use decimal number, we will get errors.

In [0]:
my_string = 'Hello'
my_string[15]

IndexError: ignored

In [0]:
my_string[1.5]

TypeError: ignored

Slicing can be best visualized by considering the index to be between the elements as shown below.

If we want to access a range, we need the index that will slice the portion from the string.

**How to change or delete a string?**

Strings are immutable. This means that elements of a string cannot be changed once it has been assigned. We can simply reassign different strings to the same name.

In [0]:
my_string = 'programiz'
my_string[5] = 'a'

TypeError: ignored

In [0]:
my_string = 'Python'
my_string

'Python'

We cannot delete or remove characters from a string. But deleting the string entirely is possible using the keyword del.

In [0]:
del my_string[1]

TypeError: ignored

In [0]:
del my_string
my_string

NameError: ignored

**Python String Operations**

There are many operations that can be performed with string which makes it one of the most used datatypes in Python.

**Concatenation of Two or More Strings**

Joining of two or more strings into a single one is called **concatenation**.

The + operator does this in Python. Simply writing two string literals together also concatenates them.

The * operator can be used to repeat the string for a given number of times.

In [0]:
str1 = 'Hello'
str2 ='World!'

# using +
print('str1 + str2 = ', str1 + str2)

# using *
print('str1 * 3 =', str1 * 3)

str1 + str2 =  HelloWorld!
str1 * 3 = HelloHelloHello

Writing two string literals together also concatenates them like + operator.

If we want to concatenate strings in different lines, we can use parentheses.

In [0]:
# two string literals together
'Hello ''World!'

'Hello World!'

In [0]:
# using parentheses
s = ('Hello '
      'World')
s

'Hello World'

**Iterating Through String**

Using for loop we can iterate through a string. Here is an example to count the number of 'l' in a string.

In [0]:
count = 0
for letter in 'Hello World':
    if(letter == 'l'):
        count += 1
print(count,'letters found')

3 letters found

**String Membership Test**

We can test if a sub string exists within a string or not, using the keyword in.

In [0]:
'a' in 'program'

True

In [0]:
'at' not in 'battle'

False

**Built-in functions to Work with Python**

Various built-in functions that work with sequence, works with string as well.

Some of the commonly used ones are **enumerate**() and **len**(). The **enumerate**() function returns an enumerate object. It contains the index and value of all the items in the string as pairs. This can be useful for iteration.

Similarly, **len**() returns the length (number of characters) of the string.

In [0]:
str = 'cold'

# enumerate()
list_enumerate = list(enumerate(str))
print('list(enumerate(str) = ', list_enumerate)

#character count
print('len(str) = ', len(str))

list(enumerate(str) =  [(0, 'c'), (1, 'o'), (2, 'l'), (3, 'd')]
len(str) =  4

**Python String Formatting**

**Escape Sequence**

If we want to print a text like -He said, "What's there?"- we can neither use single quote or double quotes. This will result into SyntaxError as the text itself contains both single and double quotes.

In [0]:
print("He said, "What's there?"")

SyntaxError: ignored

In [0]:
print('He said, "What's there?"')

SyntaxError: ignored

One way to get around this problem is to use triple quotes. Alternatively, we can use escape sequences.

An escape sequence starts with a backslash and is interpreted differently. If we use single quote to represent a string, all the single quotes inside the string must be escaped. Similar is the case with double quotes. Here is how it can be done to represent the above text.

In [0]:
# using triple quotes
print('''He said, "What's there?"''')

# escaping single quotes
print('He said, "What\'s there?"')

# escaping double quotes
print("He said, \"What's there?\"")

He said, "What's there?"
He said, "What's there?"
He said, "What's there?"

Here is a list of all the escape sequence supported by Python.

Escape Sequence in Python

![alt text](https://drive.google.com/uc?export=view&id=1GIJnCP-L-ejnm8YVrporBvcZQiQaWpIZ)

Here are some examples

In [0]:
print("C:\\Python32\\Lib")

C:\Python32\Lib

In [0]:
print("This is printed\nin two lines")

This is printed
in two lines

In [0]:
print("This is \x48\x45\x58 representation")

This is HEX representation

**Raw String to ignore escape sequence**

Sometimes we may wish to ignore the escape sequences inside a string. To do this we can place r or R in front of the string. This will imply that it is a raw string and any escape sequence inside it will be ignored.

In [0]:
print("This is \x61 \ngood example")

This is a
good example

In [0]:
print(r"This is \x61 \ngood example")

This is \x61 \ngood example


**The format() Method for Formatting Strings**

The **format**() method that is available with the string object is very versatile and powerful in formatting strings. Format strings contains curly braces {} as placeholders or replacement fields which gets replaced.

We can use positional arguments or keyword arguments to specify the order.

In [1]:
# default(implicit) order
default_order = "{}, {} and {}".format('John','Bill','Sean')
print('\n--- Default Order ---')
print(default_order)

# order using positional argument
positional_order = "{1}, {0} and {2}".format('John','Bill','Sean')
print('\n--- Positional Order ---')
print(positional_order)

# order using keyword argument
keyword_order = "{s}, {b} and {j}".format(j='John',b='Bill',s='Sean')
print('\n--- Keyword Order ---')
print(keyword_order)

--- Default Order ---
John, Bill and Sean

--- Positional Order ---
Bill, John and Sean

--- Keyword Order ---
Sean, Bill and John

The **format**() method can have optional format specifications. They are separated from field name using colon. For example, we can left-justify <, right-justify > or center ^ a string in the given space. We can also format integers as binary, hexadecimal etc. and floats can be rounded or displayed in the exponent format. There are a ton of formatting you can use.

In [4]:
# formatting integers
print("Binary representation of {0} is {0:b}".format(12))
#'Binary representation of 12 is 1100'

# formatting floats
print("Exponent representation: {0:e}".format(1566.345))
#'Exponent representation: 1.566345e+03'

# round off
print("One third is: {0:.3f}".format(1/3))
#'One third is: 0.333'

# string alignment
print("|{:<10}|{:^10}|{:>10}|".format('butter','bread','ham'))
#'|butter    |  bread   |       ham|'

Binary representation of 12 is 1100
Exponent representation: 1.566345e+03
One third is: 0.333
|butter    |  bread   |       ham|

**Old style formatting**

We can even format strings like the old sprintf() style used in C programming language. We use the % operator to accomplish this.

In [5]:
x = 12.3456789
print('The value of x is %3.2f' %x)
#The value of x is 12.35
print('The value of x is %3.4f' %x)
#The value of x is 12.3457

The value of x is 12.35
The value of x is 12.3457

**Common Python String Methods**

There are numerous methods available with the string object. The **format**() method that we mentioned above is one of them. Some of the commonly used methods are **lower**(), **upper**(), **join**(), **split**(), **find**(), **replace**() etc. Here is a complete list of all the built-in methods to work with strings in Python.

In [7]:
print("PrOgRaMiZ".lower())
#'programiz'
print("PrOgRaMiZ".upper())
#'PROGRAMIZ'
print("This will split all words into a list".split())
#['This', 'will', 'split', 'all', 'words', 'into', 'a', 'list']
print(' '.join(['This', 'will', 'join', 'all', 'words', 'into', 'a', 'string']))
#'This will join all words into a string'
print('Happy New Year'.find('ew'))
#7
print('Happy New Year'.replace('Happy','Brilliant'))
#'Brilliant New Year'

programiz
PROGRAMIZ
['This', 'will', 'split', 'all', 'words', 'into', 'a', 'list']
This will join all words into a string
7
Brilliant New Year