<a href="https://colab.research.google.com/github/sumithdcosta/Python/blob/master/4.%20Datatypes/5.%20Set.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

4. Datatypes/5. Set.ipynb

**What is a set in Python?**

A set is an unordered collection of items. Every element is unique (no duplicates) and must be immutable (which cannot be changed).

However, the set itself is mutable. We can add or remove items from it.

Sets can be used to perform mathematical set operations like union, intersection, symmetric difference etc.

**How to create a set?**

A set is created by placing all the items (elements) inside curly braces {}, separated by comma or by using the built-in function set().

It can have any number of items and they may be of different types (integer, float, tuple, string etc.). But a set cannot have a mutable element, like list, set or dictionary, as its element.

In [1]:
# set of integers
my_set = {1, 2, 3}
print(my_set)

# set of mixed datatypes
my_set = {1.0, "Hello", (1, 2, 3)}
print(my_set)

{1, 2, 3}
{1.0, 'Hello', (1, 2, 3)}

In [5]:
# set do not have duplicates
# Output: {1, 2, 3, 4}
my_set = {1,2,3,4,3,2}
print(my_set)

{1, 2, 3, 4}

In [6]:
# set cannot have mutable items
# here [3, 4] is a mutable list
# If you uncomment line #12,
# this will cause an error.
# TypeError: unhashable type: 'list'

my_set = {1, 2, [3, 4]}

TypeError: ignored

In [7]:
# we can make set from a list
# Output: {1, 2, 3}
my_set = set([1,2,3,2])
print(my_set)

{1, 2, 3}

Creating an empty set is a bit tricky.

Empty curly braces {} will make an empty dictionary in Python. To make a set without any elements we use the set() function without any argument.

In [8]:
# initialize a with {}
a = {}

# check data type of a
# Output: <class 'dict'>
print(type(a))

# initialize a with set()
a = set()

# check data type of a
# Output: <class 'set'>
print(type(a))

<class 'dict'>
<class 'set'>

**How to change a set in Python?**

Sets are mutable. But since they are unordered, indexing have no meaning.

We cannot access or change an element of set using indexing or slicing. Set does not support it.

We can add single element using the **add**() method and multiple elements using the **update**() method. The **update**() method can take tuples, lists, strings or other sets as its argument. In all cases, duplicates are avoided.

In [9]:
# initialize my_set
my_set = {1,3}
print(my_set)

# if you uncomment line 9,
# you will get an error
# TypeError: 'set' object does not support indexing

my_set[0]

{1, 3}

TypeError: ignored

In [10]:
# add an element
# Output: {1, 2, 3}
my_set.add(2)
print(my_set)

# add multiple elements
# Output: {1, 2, 3, 4}
my_set.update([2,3,4])
print(my_set)

# add list and set
# Output: {1, 2, 3, 4, 5, 6, 8}
my_set.update([4,5], {1,6,8})
print(my_set)

{1, 2, 3}
{1, 2, 3, 4}
{1, 2, 3, 4, 5, 6, 8}

**How to remove elements from a set?**

A particular item can be removed from set using methods, discard() and remove().

The only difference between the two is that, while using discard() if the item does not exist in the set, it remains unchanged. But remove() will raise an error in such condition.

The following example will illustrate this.

In [11]:
# initialize my_set
my_set = {1, 3, 4, 5, 6}
print(my_set)

# discard an element
# Output: {1, 3, 5, 6}
my_set.discard(4)
print(my_set)

# remove an element
# Output: {1, 3, 5}
my_set.remove(6)
print(my_set)

# discard an element
# not present in my_set
# Output: {1, 3, 5}
my_set.discard(2)
print(my_set)

{1, 3, 4, 5, 6}
{1, 3, 5, 6}
{1, 3, 5}
{1, 3, 5}

In [12]:
# remove an element
# not present in my_set
# If you uncomment line 27,
# you will get an error.
# Output: KeyError: 2

my_set.remove(2)

KeyError: ignored

Similarly, we can remove and return an item using the pop() method.

Set being unordered, there is no way of determining which item will be popped. It is completely arbitrary.

We can also remove all items from a set using clear().

In [13]:
# initialize my_set
# Output: set of unique elements
my_set = set("HelloWorld")
print(my_set)

# pop an element
# Output: random element
print(my_set.pop())

# pop another element
# Output: random element
my_set.pop()
print(my_set)

# clear my_set
#Output: set()
my_set.clear()
print(my_set)

{'r', 'H', 'o', 'l', 'd', 'W', 'e'}
r
{'o', 'l', 'd', 'W', 'e'}
set()

**Python Set Operations**

Sets can be used to carry out mathematical set operations like union, intersection, difference and symmetric difference. We can do this with operators or methods.

Let us consider the following two sets for the following operations.

In [0]:
A = {1, 2, 3, 4, 5}
B = {4, 5, 6, 7, 8}

![alt text](https://drive.google.com/uc?export=view&id=1Qwv-jIJc-wwPE3Fnp5cXW5GR-kJjVcfD)

Union is performed using | operator. Same can be accomplished using the method union().

In [14]:
# initialize A and B
A = {1, 2, 3, 4, 5}
B = {4, 5, 6, 7, 8}

# use | operator
# Output: {1, 2, 3, 4, 5, 6, 7, 8}
print(A | B)

{1, 2, 3, 4, 5, 6, 7, 8}

Try the following examples on Python shell.

In [15]:
# use union function
A.union(B)

{1, 2, 3, 4, 5, 6, 7, 8}

In [16]:
# use union function on B
B.union(A)

{1, 2, 3, 4, 5, 6, 7, 8}

![alt text](https://drive.google.com/uc?export=view&id=111gpyITHsWnMwGG47zsXwdz7ilv8R-oH)

Intersection is performed using & operator. Same can be accomplished using the method **intersection**().

In [17]:
# initialize A and B
A = {1, 2, 3, 4, 5}
B = {4, 5, 6, 7, 8}

# use & operator
# Output: {4, 5}
print(A & B)

{4, 5}

Try the following examples on Python shell.

In [19]:
# use intersection function on A
print(A.intersection(B))
#{4, 5}

# use intersection function on B
print(B.intersection(A))
#{4, 5}

{4, 5}
{4, 5}

![alt text](https://drive.google.com/uc?export=view&id=19Rybkq0gJXGv6sLTN6xKISi8tmFRBOko)

Difference of A and B (A - B) is a set of elements that are only in A but not in B. Similarly, B - A is a set of element in B but not in A.

Difference is performed using - operator. Same can be accomplished using the method difference().

In [20]:
# initialize A and B
A = {1, 2, 3, 4, 5}
B = {4, 5, 6, 7, 8}

# use - operator on A
# Output: {1, 2, 3}
print(A - B)

{1, 2, 3}

Try the following examples on Python shell.

In [22]:
# use difference function on A
print(A.difference(B))
#{1, 2, 3}

# use - operator on B
print(B - A)
#{8, 6, 7}

# use difference function on B
print(B.difference(A))
#{8, 6, 7}

{1, 2, 3}
{8, 6, 7}
{8, 6, 7}

![alt text](https://drive.google.com/uc?export=view&id=1jjgHt0AIQUU_yycTse68Q_yZWGfCt3bi)

Symmetric Difference of A and B is a set of elements in both A and B except those that are common in both.

Symmetric difference is performed using ^ operator. Same can be accomplished using the method symmetric_difference().

In [25]:
# initialize A and B
A = {1, 2, 3, 4, 5}
B = {4, 5, 6, 7, 8}

# use ^ operator
# Output: {1, 2, 3, 6, 7, 8}
print(A ^ B)

#Try the following examples on Python shell.

# use symmetric_difference function on A
print(A.symmetric_difference(B))
#{1, 2, 3, 6, 7, 8}

# use symmetric_difference function on B
print(B.symmetric_difference(A))
#{1, 2, 3, 6, 7, 8}

{1, 2, 3, 6, 7, 8}
{1, 2, 3, 6, 7, 8}
{1, 2, 3, 6, 7, 8}

**Different Python Set Methods**

There are many set methods, some of which we have already used above. Here is a list of all the methods that are available with set objects.

**Python Set Methods**

![alt text](https://drive.google.com/uc?export=view&id=1VM-KzOidws-brixEKB7yoPRPahlj2CgQ)