<a href="https://colab.research.google.com/github/sumithdcosta/Python/blob/master/1.%20Introduction/1.%20KeywordsAndIdentifier.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Keywords and Identifier


**Python Keywords**

Keywords are the reserved words in Python.

We cannot use a keyword as variable name, function name or any other identifier. They are used to define the syntax and structure of the Python language.

In Python, keywords are case sensitive.

There are 33 keywords in Python 3.3. This number can vary slightly in course of time.

All the keywords except True, False and None are in lowercase and they must be written as it is. The list of all the keywords are given below.

***Keywords in Python programming language***


**FALSE, None, TRUE, and, as, assert, break, class, continue, def, del, elif, else, except, finally, for, from, global, if, import, in, is, lambda, nonlocal, not, or, pass, raise, return, try, while, with, yield**

Looking at all the keywords at once and trying to figure out what they mean might be overwhelming.


**Python Identifiers**

Identifier is the name given to entities like class, functions, variables etc. in Python. It helps differentiating one entity from another.

**Rules for writing identifiers**

1.  Identifiers can be a combination of letters in lowercase (a to z) or uppercase (A to Z) or digits (0 to 9) or an underscore (_). Names like myClass, var_1 and print_this_to_screen, all are valid example.
2. An identifier cannot start with a digit. 1variable is invalid, but variable1 is perfectly fine.
3. Keywords cannot be used as identifiers.

In [1]:
global = 1

SyntaxError: ignored

4. We cannot use special symbols like !, @, #, $, % etc. in our identifier.

In [2]:
a@ = 0

SyntaxError: ignored

5. Identifier can be of any length.

**Things to care about**

Python is a case-sensitive language. This means, Variable and variable are not the same. Always name identifiers that make sense.

While, c = 10 is valid. Writing count = 10 would make more sense and it would be easier to figure out what it does even when you look at your code after a long gap.

Multiple words can be separated using an underscore, this_is_a_long_variable.

We can also use camel-case style of writing, i.e., capitalize every first letter of the word except the initial word without any spaces. For example: camelCaseExample

**List of Keywords in Python**

In [2]:
import keyword
print(keyword.kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

**Description of Keywords in Python with examples**
**True, False**

True and False are truth values in Python. They are the results of comparison operations or logical (Boolean) operations in Python. For example:

In [3]:
1 == 1

True

In [4]:
5 > 3

True

In [5]:
True or False

True

In [6]:
10 < 1

False

In [7]:
3 > 7

False

In [8]:
True and False

False

Here we can see that the first three statements are true so the interpreter returns True and returns False for the remaining three statements. True and False in python is same as 1 and 0. This can be justified with the following example:

In [9]:
True == 1

True

In [10]:
False == 0

True

In [11]:
True + True

2

**None**

None is a special constant in Python that represents the absence of a value or a null value.

It is an object of its own datatype, the NoneType. We cannot create multiple None objects but can assign it to variables. These variables will be equal to one another.

We must take special care that None does not imply False, 0 or any empty list, dictionary, string etc. For example:

In [12]:
None == 0

False

In [13]:
None == []

False

In [14]:
None == False

False

In [15]:
x = None
y = None
x == y

True

Void functions that do not return anything will return a None object automatically. None is also returned by functions in which the program flow does not encounter a return statement. For example:

In [16]:
def a_void_function():
    a = 1
    b = 2
    c = a + b

x = a_void_function()
print(x)

None

This program has a function that does not return a value, although it does some operations inside. So when we print x, we get None which is returned automatically (implicitly). Similarly, here is another example:

In [17]:
def improper_return_function(a):
    if (a % 2) == 0:
        return True

x = improper_return_function(3)
print(x)

None

In [18]:
x = improper_return_function(2)
print(x)

True

Although this function has a **return** statement, it is not reached in every case. The function will return **True** only when the input is even.

If we give the function an odd number, **None** is returned implicitly.

**and, or , not**

**and**, **or**, **not** are the logical operators in Python. **and** will result into **True** only if both the operands are **True**. The truth table for **and** is given below:

Truth table for **and**

In [19]:
True and True

True

In [20]:
True and False

False

In [21]:
False and False

False

or will result into True if any of the operands is True. The truth table for or is given below:

Truth table for **or**

In [22]:
True or True

True

In [23]:
True or False

True

In [24]:
False or False

False

**as**

**as** is used to create an alias while importing a module. It means giving a different name (user-defined) to a module while importing it.

As for example, Python has a standard module called **math**. Suppose we want to calculate what cosine pi is using an alias. We can do it as follows using as:

In [27]:
import math as myAlias
myAlias.cos(myAlias.pi)

-1.0

Here we imported the **math** module by giving it the name **myAlias**. Now we can refer to the **math** module with this name. Using this name we calculated cos(pi) and got -1.0 as the answer.

**assert**

**assert** is used for debugging purposes.

While programming, sometimes we wish to know the internal state or check if our assumptions are true. **assert** helps us do this and find bugs more conveniently. **assert** is followed by a condition.

If the condition is true, nothing happens. But if the condition is false, **AssertionError** is raised. For example:

In [0]:
a = 4
assert a < 5

In [29]:
assert a > 5

AssertionError: ignored

For our better understanding, we can also provide a message to be printed with the **AssertionError**

In [30]:
a = 4 
assert a > 5, "The value is to small"

AssertionError: ignored

At this point we can note that,

**assert** condition, message

is equivalent to


```
if not condition:
    raise AssertionError(message)
```

**break, continue**

**break** and **continue** are used inside **for** and **while** loops to alter their normal behavior.

**break** will end the smallest loop it is in and control flows to the statement immediately below the loop. **continue** causes to end the current iteration of the loop, but not the whole loop.

This can be illustrated with the following two examples:

In [31]:
for i in range(1,11):
    if i == 5:
        break
    print(i)

1
2
3
4

Here, the **for** loop intends to print numbers from 1 to 10. But the **if** condition is met when i is equal to 5 and we break from the loop. Thus, only the range 1 to 4 is printed.

In [32]:
for i in range(1,11):
    if i == 5:
        continue
    print(i)

1
2
3
4
6
7
8
9
10

Here we use **continue** for the same program. So, when the condition is met, that iteration is skipped. But we do not exit the loop. Hence, all the values except 5 is printed out.

**class**

**class** is used to define a new user-defined class in Python.

Class is a collection of related attributes and methods that try to represent a real world situation. This idea of putting data and functions together in a **class** is central to the concept of object-oriented programming (OOP).

Classes can be defined anywhere in a program. But it is a good practice to define a single class in a module. Following is a sample usage:

In [0]:
class ExampleClass:
    def function1(parameters):
      pass
    
    def function2(parameters):
      pass

**def**

**def** is used to define a user-defined function.

Function is a block of related statements, which together does some specific task. It helps us organize code into manageable chunks and also to do some repetitive task.

The usage of **def** is shown below:

In [0]:
def function_name(parameters):
  pass

**del**

**del** is used to delete the reference to an object. Everything is object in Python. We can delete a variable reference using **del**

In [36]:
a = b = 5
del a
a

NameError: ignored

In [37]:
b

5

Here we can see that the reference of the variable **a** was deleted. So, it is no longer defined. But **b** still exists.

**del** is also used to delete items from a list or a dictionary:

In [38]:
a = ['x','y','z']
del a[1]
a

['x', 'z']

**if, else, elif**

if, else, elif are used for conditional branching or decision making.

When we want to test some condition and execute a block only if the condition is true, then we use **if** and **elif**. **elif** is short for else if. **else** is the block which is executed if the condition is false. This will be clear with the following example:

In [0]:
def if_example(a):
    if a == 1:
        print('One')
    elif a == 2:
        print('Two')
    else:
        print('Something else')

In [40]:
if_example(2)
if_example(4)
if_example(1)

Two
Something else
One

Here, the function checks the input number and prints the result if it is 1 or 2. Any input other than this will cause the **else** part of the code to execute.

**except, raise, try**

except, raise, try are used with exceptions in Python.

Exceptions are basically errors that suggests something went wrong while executing our program. **IOError**, **ValueError**, **ZeroDivisionError**, **ImportError**, **NameError**, **TypeError** etc. are few examples of exception in Python. **try...except** blocks are used to catch exceptions in Python.

We can raise an exception explicitly with the raise keyword. Following is an example:

In [42]:
def reciprocal(num):
    try:
        r = 1/num
    except:
        print('Exception caught')
        return
    return r

print(reciprocal(10))

0.1

In [43]:
print(reciprocal(0))

Exception caught
None

Here, the function reciprocal() returns the reciprocal of the input number.

When we enter 10, we get the normal output of 0.1. But when we input 0, a **ZeroDivisionError** is raised automatically.

This is caught by our **try…except** block and we return **None**. We could have also raised the **ZeroDivisionError** explicitly by checking the input and handled it elsewhere as follows:

In [45]:
num = 0
if num == 0:
    raise ZeroDivisionError('cannot divide')

ZeroDivisionError: ignored

**finally**

**finally** is used with try…except block to close up resources or file streams.

Using finally ensures that the block of code inside it gets executed even if there is an unhandled exception. For example:


```
try:
    Try-block
except exception1:
    Exception1-block
except exception2:
    Exception2-block
else:
    Else-block
finally:
    Finally-block
```

Here if there is an exception in the Try-block, it is handled in the except or else block. But no matter in what order the execution flows, we can rest assured that the Finally-block is executed even if there is an error. This is useful in cleaning up the resources

**for**

**for** is used for looping. Generally we use **for** when we know the number of times we want to loop.

In Python we can use it with any type of sequence like a list or a string. Here is an example in which for is used to traverse through a list of names:

In [46]:
names = ['John','Monica','Steven','Robin']
for i in names:
    print('Hello '+i)

Hello John
Hello Monica
Hello Steven
Hello Robin

**from, import**

**import** keyword is used to import modules into the current namespace. **from…import** is used to import specific attributes or functions into the current namespace. For example:
```
import math
```

will import the **math** module. Now we can use the **cos**() function inside it as **math.cos()**. But if we wanted to import just the **cos**() function, this can done using **from as**

In [0]:
from math import cos

now we can use the function simply as **cos**(), no need to write **math.cos()**.

**global**

**global** is used to declare that a variable inside the function is global (outside the function).

If we need to read the value of a global variable, it is not necessary to define it as **global**. This is understood.

If we need to modify the value of a global variable inside a function, then we must declare it with **global**. Otherwise a local variable with that name is created.

Following example will help us clarify this.

In [0]:
globvar = 10
def read1():
    print(globvar)
def write1():
    global globvar
    globvar = 5
def write2():
    globvar = 15

In [49]:
read1()
write1()
read1()
write2()
read1()

10
5
5

Here, the read1() function is just reading the value of *globvar*. So, we do not need to declare it as **global**. But the write1() function is modifying the value, so we need to declare the variable as **global**.

We can see in our output that the modification did take place (10 is changed to 5). The write2() also tries to modify this value. But we have not declared it as **global**.

Hence, a new local variable *globvar* is created which is not visible outside this function. Although we modify this local variable to 15, the global variable remains unchanged. This is clearly visible in our output.

**in**

**in** is used to test if a sequence (list, tuple, string etc.) contains a value. It returns **True** if the value is present, else it returns **False**. For example:

In [50]:
a = [1, 2, 3, 4, 5]
5 in a

True

In [51]:
10 in a

False

The secondary use of **in** is to traverse through a sequence in a for loop.

In [52]:
for i in 'hello':
    print(i)

h
e
l
l
o

**is**

**is** is used in Python for testing object identity. While the **==** operator is used to test if two variables are equal or not, is is used to test if the two variables refer to the same object.

It returns **True** if the objects are identical and **False** if not.

In [53]:
True is True

True

In [54]:
False is False

True

In [55]:
None is None

True

We know that there is only one instance of **True**, **False** and **None** in Python, so they are identical.

In [58]:
[] == []

True

In [59]:
[] is []

False

In [60]:
{} == {}

True

In [61]:
{} is {}

False

An empty list or dictionary is equal to another empty one. But they are not identical objects as they are located separately in memory. This is because list and dictionary are mutable (value can be changed).

In [62]:
'' == ''

True

In [63]:
'' is ''

True

In [64]:
() == ()

True

In [65]:
() is ()

True

Unlike list and dictionary, string and tuple are immutable (value cannot be altered once defined). Hence, two equal string or tuple are identical as well. They refer to the same memory location.

**lambda**

**lambda** is used to create an anonymous function (function with no name). It is an inline function that does not contain a **return** statement. It consists of an expression that is evaluated and returned. For example:

In [66]:
a = lambda x: x*2

for i in range(1,6):
    print(a(i))

2
4
6
8
10

Here, we have created an inline function that doubles the value, using the lambda statement. We used this to double the values in a list containing 1 to 5.

**nonlocal**

The use of **nonlocal** keyword is very much similar to the **global** keyword. **nonlocal** is used to declare that a variable inside a nested function (function inside a function) is not local to it, meaning it lies in the outer inclosing function. If we need to modify the value of a non-local variable inside a nested function, then we must declare it with nonlocal. Otherwise a local variable with that name is created inside the nested function. Following example will help us clarify this.

In [68]:
def outer_function():
    a = 5
    def inner_function():
        nonlocal a
        a = 10
        print("Inner function: ",a)
    inner_function()
    print("Outer function: ",a)

outer_function()

Inner function:  10
Outer function:  10

Here, the inner_function() is nested within the outer_function.

The variable **a** is in the outer_function(). So, if we want to modify it in the inner_function(), we must declare it as **nonlocal**. Notice that a is not a global variable.

Hence, we see from the output that the variable was successfully modified inside the nested inner_function(). The result of not using the **nonlocal** keyword is as follows:

In [69]:
#without Nonlocal
def outer_function():
    a = 5
    def inner_function():
        #nonlocal a
        a = 10
        print("Inner function: ",a)
    inner_function()
    print("Outer function: ",a)

outer_function()

Inner function:  10
Outer function:  5

Here, we do not declare that the variable **a** inside the nested function is **nonlocal**. Hence, a new local variable with the same name is created, but the non-local **a** is not modified as seen in our output.

**pass**

**pass** is a null statement in Python. Nothing happens when it is executed. It is used as a placeholder.

Suppose we have a function that is not implemented yet, but we want to implement it in the future. Simply writing,

```
def function(args):

```
in the middle of a program will give us **IndentationError**. Instead of this, we construct a blank body with the pass statement.

In [0]:
def function(args):
    pass

We can do the same thing in an empty class as well.

In [0]:
class example:
    pass