<a href="https://colab.research.google.com/github/sumithdcosta/Python/blob/master/1.%20Introduction/6.%20IO%26Import.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1. Introduction/6. IO&Import.ipynb

**Input, Output and Import**

Python provides numerous built-in functions that are readily available to us at the Python prompt.

Some of the functions like **input()** and **print()** are widely used for standard input and output operations respectively. Let us see the output section first.

**Python Output Using print() function**

We use the print() function to output data to the standard output device (screen).

An example use is given below.

In [1]:
print('This sentence is output to the screen')
# Output: This sentence is output to the screen

This sentence is output to the screen

In [2]:
a = 5

print('The value of a is', a)
# Output: The value of a is 5

The value of a is 5

In the second print() statement, we can notice that a space was added between the string and the **value** of variable **a**.This is by default, but we can change it.

The actual syntax of the print() function is


```
print(*objects, sep=' ', end='\n', file=sys.stdout, flush=False)

```
Here, **objects** is the value(s) to be printed.

The **sep** separator is used between the values. It defaults into a space character.

After all values are printed, **end** is printed. It defaults into a new line.

The **file** is the object where the values are printed and its default value is **sys.stdout** (screen). Here are an example to illustrate this.

In [3]:
print(1,2,3,4)
# Output: 1 2 3 4

print(1,2,3,4,sep='*')
# Output: 1*2*3*4

print(1,2,3,4,sep='#',end='&')
# Output: 1#2#3#4&

1 2 3 4
1*2*3*4
1#2#3#4&

**Output formatting**

Sometimes we would like to format our output to make it look attractive. This can be done by using the str.format() method. This method is visible to any string object.

In [4]:
x = 5; y = 10
print('The value of x is {} and y is {}'.format(x,y))

The value of x is 5 and y is 10

Here the curly braces {} are used as placeholders. We can specify the order in which it is printed by using numbers (tuple index).

In [6]:
print('Hello {name}, {greeting}'.format(greeting = 'Goodmorning', name = 'John'))

Hello John, Goodmorning

We can even format strings like the old sprintf() style used in C programming language. We use the % operator to accomplish this.

In [7]:
x = 12.3456789
print('The value of x is %3.2f' %x)
print('The value of x is %3.4f' %x)

The value of x is 12.35
The value of x is 12.3457

**Python Input**

Up till now, our programs were static. The value of variables were defined or hard coded into the source code.

To allow flexibility we might want to take the input from the user. In Python, we have the input() function to allow this. The syntax for input() is

**input([prompt])**

where prompt is the string we wish to display on the screen. It is optional.

In [8]:
num = input('Enter a number: ')

Enter a number: 10

In [9]:
num

'10'

Here, we can see that the entered value **10** is a string, not a number. To convert this into a number we can use **int**() or **float**() functions.

In [10]:
int('10')

10

In [11]:
float('10')

10.0

This same operation can be performed using the **eval**() function. But it takes it further. It can evaluate even expressions, provided the input is a string

In [12]:
int('2+3')

ValueError: ignored

In [13]:
eval('2+3')

5

**Python Import**

When our program grows bigger, it is a good idea to break it into different modules.

A module is a file containing Python definitions and statements. Python modules have a filename and end with the extension .**py**.

Definitions inside a module can be imported to another module or the interactive interpreter in Python. We use the **import** keyword to do this.

For example, we can import the **math** module by typing in **import** **math**.

In [14]:
import math
print(math.pi)

3.141592653589793

Now all the definitions inside **math** module are available in our scope. We can also import some specific attributes and functions only, using the **from** keyword. For example:

In [15]:
import sys
sys.path

['',
 '/env/python',
 '/usr/lib/python36.zip',
 '/usr/lib/python3.6',
 '/usr/lib/python3.6/lib-dynload',
 '/usr/local/lib/python3.6/dist-packages',
 '/usr/lib/python3/dist-packages',
 '/usr/local/lib/python3.6/dist-packages/IPython/extensions',
 '/root/.ipython']

We can add our own location to this list as well